.friendListItem {
  width: 200px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(171, 170, 170);
  box-shadow: 7px 10px 18px -8px rgba(148, 140, 148, 1);
  border-radius: 5px;
}

.avatar {
  border: 1px solid black;
  border-radius: 50px;
  background-color: cadetblue;
}

.name {
  font-size: 18px;
  font-weight: 500px;
}

.statusOnline {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: greenyellow;
}

.statusOfline {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}
